| Name | Type | Description | Required | Examples |
|:-----|:----:|:------------|:--------:|---------:|
{% for header in headers %}| {{ header.displayName }} | {{ header.type }} | {{ header.description }} | {{ header.required }} | {% for example in header.examples %}``` {{ example.value | replace("\r", "") | replace("\n", "") }} ``` {% endfor %} |
{% endfor %}
