{% for schema in schemas %}
#### {{ schema.displayName }}{% if schema.key %} ({{ schema.key }}) {% endif %}
{{ schema.description }}

{% for example in schema.examples %}```
{{ example.value | trim }}
```
{% endfor %}

{% if schema.items %}
##### List of *{{ schema.items.displayName }}*:

{% set properties=schema.items.properties %}{% include "./properties.njk" %}
{% elif schema.properties %}
##### *{{ schema.displayName }}*:
{% set properties=schema.properties %}{% include "./properties.njk" %}
{% endif %}

{% endfor %}
