{% if resource.methods %}* [{{ resource.parentUrl + resource.relativeUri }}]({{ (resource.parentUrl + resource.relativeUri) | lower() | replace('/', '') | replace('{', '') | replace('}', '') }}){% endif %}{% for resource in resource.resources %}{% include "./toc.njk" %}{% endfor %}
